<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidpureland.autotest" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".UI.Launcher.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.MainTest.ApiListActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="API列表">

        </activity>
        <activity android:name=".UI.TestReport.TestReport"/>
    </application>


</manifest>
